@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html{
    font-family: DotGothic16;
    color: #f2f1ef;
}   

body{
    overflow: hidden;
    margin: 0;
}

p button{
margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.colour-content1, .colour-content2, .colour-content3, .colour-content4, .colour-content5{
    padding-top: 350px;
    height: 100vh;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

.current-hex1, .current-hex2, .current-hex3, .current-hex4, .current-hex5{
    display: flex;
    justify-content: center;
}

.toggle-lock1, .toggle-lock2, .toggle-lock3, .toggle-lock4, .toggle-lock5{
    height: 20px;
    width: 20px;
}

.copy-colour{
    height: 20px;
    width: 20px;
}

.export-colour{
    padding-top: 27px;
    height: 40px;
    width: 40px;
}

.strapline{
    background: #000000;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    font-size: x-large;
}

li{
    list-style: none;
    text-align: center;
    display: block;
}

.straplineText{
    text-decoration: none;
    color: #f2f1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}