@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html{
    font-family: DotGothic16;
    color: #f2f1ef;
}   

body{
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
}

.colour-content1{
    padding-top: 350px;
    height: 100vh;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

.colour-content2{
    padding-top: 350px;
    height: 100vh;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

.colour-content3{
    padding-top: 350px;
    height: 100vh;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

.colour-content4{
    padding-top: 350px;
    height: 100vh;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

.colour-content5{
    padding-top: 350px;
    height: 100vh;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

.current-hex1{
    display: flex;
    justify-content: center;
}

.current-hex2{
    display: flex;
    justify-content: center;
}

.current-hex3{
    display: flex;
    justify-content: center;
}

.current-hex4{
    display: flex;
    justify-content: center;
}

.current-hex5{
    display: flex;
    justify-content: center;
}

.toggle-lock{
    height: 20px;
    width: 20px;
}

.copy-colour{
    height: 20px;
    width: 20px;
}

.strapline{
    background: #000000;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    font-size: large;
}

li{
    list-style: none;
    text-align: center;
    display: block;
}

.straplineText{
    text-decoration: none;
    color: #f2f1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}